#eofol {
  color: fuchsia;
  padding: 0 0;
}

body {
  padding: 0 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  text-align: center;
}

.eofol-button {
  height: 40px;
  padding: 0 16px;
  background-color: rgb(144, 205, 244);
  font-size: 16px;
  color: rgb(26, 32, 44);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.eofol-button:hover {
  background-color: rgb(100, 161, 199);
}
