html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0 0;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.overlay-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 200;
}

.overlay-loading > * {
  position: sticky;
  top: 15%;
  padding: 0 25vw;
}

.overlay-loading-inactive {
  display: none;
}

.overlay-loading-active {
  display: block;
}

#overlay-loading-progress {
  color: #86b1ff;
}

#overlay-progress-please-wait {
  margin-top: 32px;
}

#overlay-loading-remaining {
  margin-top: 32px;
  color: #86b1ff;
}

progress {
  width: 100%;
  background-color: #3567c5;
  border-radius: 16px;
}
progress::-webkit-progress-bar {
  background-color: rgb(49, 45, 45);
  border-radius: 16px;
}
progress::-webkit-progress-value {
  background-color: #3567c5;
  border-radius: 16px;
}
progress::-moz-progress-bar {
  background-color: rgb(49, 45, 45);
  border-radius: 16px;
}

.loader {
  border: 16px solid rgb(49, 45, 45);
  border-top: 16px solid #03dac6;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
  margin: 0 auto 32px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Roboto-Regular.ttf) format("truetype");
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-color: hsl(0, 0%, 67%);
  background-clip: content-box;
}
